/*
Paleta barev:
    outer-space: #464f51ff;
    celadon: #8fd694ff;
    emerald: #7dba84ff;
    asparagus: #77ad78ff;
*/

/* horní panel */

header{
    background-color: #77ad78ff;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px, rgba(0, 0, 0, 0.2) 0px 5px 5px; */
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 10px;
    padding-inline: 10px;
    border-radius: 20px;
    border-color: #464f51ff;
    border-width: 2px;
    border-style: solid;
}

h1{
    font-size: 28px;
    margin-left: 10px;
}

a{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
    background-color: #7dba84ff;
    text-decoration: none;
    padding-inline: 20px;
    padding-block: 10px;
    margin-inline: 10px;
    border-radius: 15px;
    border-color: #464f51ff;
    border-width: 2px;
    border-style: solid;
    font-size: 20px;
    color: black;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px -12px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: .2s;
}
a:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px -12px inset, rgba(0, 0, 0, 0.23) 0px 6px 6px inset;
}

/* obsah */

body{
    background-color: rgb(237, 255, 238);
    font-family: Arial, sans-serif;
    font-size: larger;
    text-align: center;
    justify-content: center;
    margin: 0;
}

#score {
    font-size: 24px;
    font-weight: bold;
}

#cps {
    font-size: 18px;
    font-weight: bold;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 280px;
}

.leftPanel{
    flex: 1;
    text-align: left;
}

.rightPanel {
    flex: 1;
    text-align: center;
}

#resetButton{
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    padding: 15px;
}

#resetButton:hover{
    background-color: #7dba84ff;
    color: black;
    border-color: #464f51ff;
}

button, p{
    font-size: 20px;
}

/* upgrade menu */

.upgradeMenu {
    background-color: #77ad78ff;
    border-radius: 0px 30px 30px 0px;
    border-width: 2px 2px 2px 0px;
    border-style: solid;
    border-color: #464f51ff;
    width: fit-content;
}

.upgradeFrame {
    background-color: #7dba84ff;
    display: flex;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #464f51ff;
    margin: 15px;
    user-select: none;
    justify-content: space-evenly;
    padding-inline: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
    cursor: pointer;
    transition: .2s;
}

.upgradeFrame:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 5px;
    transform: translateX(5px);
}

.upgradeFrame:active {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 5px inset, rgba(0, 0, 0, 0.2) 0px 10px 5px inset;
}

.upgradeFrame > hr {
    border-radius: 2px;
    border-color: #464f51ff;
    border-width: 1px;
    border-style: solid;
    margin-inline: 10px;
}

#descriptionText{
    margin: 15px;
    position: absolute;
    transition: .2s;
    text-shadow: rgba(119, 173, 120, 1) 0px 5px 8px;
}

/* tlačítko */

#mainButton{
    background-color: #7dba84ff;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border-color: #464f51ff;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    transition: 0.5s;
    transition-timing-function: ease-out;
}

#mainButton:hover{
    transform: scale(1.02);
}

#mainButton:active{
    transform: scale(1.1);
}

.buttonContainer {
    flex: 0 0 auto;
    text-align: center;
}

/* zvukove menu */

.soundMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #77ad78ff;
    border-radius: 30px 0px 0px 30px;
    border-width: 2px 0px 2px 2px;
    border-style: solid;
    border-color: #464f51ff;
    width: fit-content;
    margin-left: auto;
    padding: 15px;
}

#playButton{
    background-color: #7dba84ff;
    border-radius: 15px;
    border-color: #464f51ff;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
    transition: .2s;
}

#playButton:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 5px;
    transform: translateX(-3px);
}

#playButton:active{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 5px inset, rgba(0, 0, 0, 0.2) 0px 10px 5px inset;
}

.soundMenu > p {
    margin: 5px;
    margin-bottom: 10px;
    font-size: large;
}

/* menu zvířat */

.animalMenu{
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(119, 173, 120);
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    border-radius: 30px 30px 0px 0px;
    border-color: #464f51ff;
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    user-select: none;
    margin-inline: auto;
}

.animalFrame{
    background-color: rgb(125, 186, 132);
    cursor: pointer;
    padding: 3px;
    margin: 15px;
    margin-left: 0px;
    border-radius: 15px;
    border-color: #464f51ff;
    border-width: 2px;
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
    width: 150px;
    align-content: end;
    transition: .2s;
}
.animalFrame:first-child{
    margin-left: 15px;
}

.animalFrame:hover{
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 5px;
}

.animalFrame:active{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 5px inset, rgba(0, 0, 0, 0.2) 0px 10px 5px inset;
}

.animalFrame > p{
    margin: 5px;
}

.animalName{
    font-weight: bold;
}

.animalImage{
    height: 120px;
    object-fit: contain;
}
