/*
Paleta barev:
    outer-space: #464f51ff;
    celadon: #8fd694ff;
    emerald: #7dba84ff;
    asparagus: #77ad78ff;
*/

/* HRA */
/* horní panel */

header{
    background-color: #77ad78ff;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px, rgba(0, 0, 0, 0.2) 0px 5px 5px; */
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 10px;
    padding-inline: 10px;
    border-radius: 20px;
    border-color: #464f51ff;
    border-width: 2px;
    border-style: solid;
}

#title{
    display: flex;
    align-items: center;
}

#logo{
    height: 50px;
}

h1{
    font-size: 28px;
    margin-left: 10px;
}

a{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
    background-color: #7dba84ff;
    text-decoration: none;
    padding-inline: 20px;
    padding-block: 10px;
    margin-inline: 10px;
    border-radius: 15px;
    border-color: #464f51ff;
    border-width: 2px;
    border-style: solid;
    font-size: 20px;
    color: black;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px -12px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: .2s;
}
a:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px -12px inset, rgba(0, 0, 0, 0.23) 0px 6px 6px inset;
}

/* obsah */

body{
    background-color: rgb(237, 255, 238);
    font-family: Arial, sans-serif;
    font-size: medium;
    text-align: center;
    justify-content: center;
    margin: 0;
}

button, p{
    font-size: medium;
}

.scoreContainer{
    font-weight: bold;
    width: fit-content;
    margin: auto;
}

.scoreTitle{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.2em;
}

#score {
    font-size: 2em;
    margin-block: 0.2em;
}

.oddelovac{
    width: 100%;
    border-style: solid;
    border-color: #464f51ff;
    margin-block: 0.2em;
}

.cpsTitle{
    font-size: 1em;
    margin: 0em;
    margin-block: 0.5em;
}

#cps {
    font-size: 18px;
    margin: 0px;
}

.mainContainer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 50%;

}

.leftPanel{
    position: fixed;
    flex: 1;
    text-align: left;
}

.buttonContainer {
    position: fixed;
    flex: 0 0 auto;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.rightPanel {
    position: fixed;
    right: 0;
    flex: 1;
    text-align: center;
}

#resetButton{
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    padding: 15px;
}

#resetButton:hover{
    background-color: #7dba84ff;
    color: black;
    border-color: #464f51ff;
}

/* upgrade menu */

.upgradeMenu {
    background-color: #77ad78ff;
    border-radius: 0px 30px 30px 0px;
    border-width: 2px 2px 2px 0px;
    border-style: solid;
    border-color: #464f51ff;
    width: fit-content;
}

.upgradeFrame {
    background-color: #7dba84ff;
    display: flex;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #464f51ff;
    margin: 15px;
    user-select: none;
    justify-content: space-evenly;
    padding-inline: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
    cursor: pointer;
    transition: .2s;
}

.upgradeFrame:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 5px;
    transform: translateX(5px);
}

.upgradeFrame:active {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 5px inset, rgba(0, 0, 0, 0.2) 0px 10px 5px inset;
}

.upgradeFrame > hr {
    border-radius: 2px;
    border-color: #464f51ff;
    border-width: 1px;
    border-style: solid;
    margin-inline: 10px;
}

.upgradeName{
    font-size: 1em;
    font-weight: bold;
}

#descriptionText{
    margin: 15px;
    position: absolute;
    transition: .5s;
    text-shadow: rgba(119, 173, 120, 1) 0px 5px 8px;
}

/* tlačítko */

#mainButton{
    background-color: #7dba84ff;
    width: 15em;
    height: 15em;
    border-radius: 100%;
    border-color: #464f51ff;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    transition: 0.5s;
    transition-timing-function: ease-out;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
}

#mainButton:hover{
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 7px;
}

#mainButton:active{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 20px;
}

#ukazatel{
    position: absolute;
    width: 6em;
    transform: translateX(-35%) translateY(-10%);
    opacity: 1;
    transition: 1s;
}

/* zvukove menu */

.soundMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #77ad78ff;
    border-radius: 30px 0px 0px 30px;
    border-width: 2px 0px 2px 2px;
    border-style: solid;
    border-color: #464f51ff;
    width: fit-content;
    margin-left: auto;
    padding: 15px;
}

#playButton{
    background-color: #7dba84ff;
    border-radius: 15px;
    border-color: #464f51ff;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
    transition: .2s;
}

#playButton:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 5px;
    transform: translateX(-3px);
}

#playButton:active{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 5px inset, rgba(0, 0, 0, 0.2) 0px 10px 5px inset;
}

.soundMenu > p {
    margin: 5px;
    margin-bottom: 10px;
    font-size: large;
}

/* menu zvířat */

.animalMenu{
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(119, 173, 120);
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    border-radius: 30px 30px 0em 0em;
    border-color: #464f51ff;
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    user-select: none;
    margin-inline: auto;
}

.animalFrame{
    background-color: rgb(125, 186, 132);
    cursor: pointer;
    padding: 3px;
    margin: 15px;
    margin-left: 0px;
    border-radius: 15px;
    border-color: #464f51ff;
    border-width: 2px;
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
    width: 7em;
    align-content: end;
    transition: .2s;
}
.animalFrame:first-child{
    margin-left: 15px;
}

.animalFrame:hover{
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 5px;
}

.animalFrame:active{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 5px inset, rgba(0, 0, 0, 0.2) 0px 10px 5px inset;
}

.animalFrame > p{
    margin: 0.2em;
}

.animalName{
    font-weight: bold;
}

.animalImage{
    height: 6em;
    object-fit: contain;
}

/* ÚVODNÍ STRANA */

.uvodniStrana{
    height: 100%;
}

.uvodniStranaMain{
    height: 100%;
    display: flex;
}

.informace-ukoly{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: left;
    margin-inline: 20px;
}

.informace{
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    border-color: #464f51ff;
    margin-inline: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
}

.ukoly{
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    border-color: #464f51ff;
    margin-inline: 15px;
    padding-left: 15px;
}

.imageShow{
    align-items: center;
    border-color: #464f51ff;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    margin-right: 15px;
    width: 60%;
}

#imageDisplay{
    background-color: rgb(125, 186, 132);
    height: 82%;
    max-width: 80%;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #464f51ff; 
    margin: 15px;
    padding: 15px;
}

/* ACHIEVMENTY */

.achievementMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achievement{
    background-color: rgb(119, 173, 120);
    width: fit-content;
    min-width: 200px;
    margin-top: 15px;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: #464f51ff;
    justify-content: center;
}

.achievementName{
    padding: 0.1em;
    margin: 0.2em;
}

.achievementDescription{
    padding: 5px;
    margin: 0px;
}

.progressBar{
    border-style: solid;
    border-color: #464f51ff;
    border-width: 2px 0px 2px 0px;
    height: 1em;
    background-color: #7dba84ff;
}

.progress{
    background-color: #464f51ff;
    border-radius: auto;
    height: 100%;
    width: 0%;
}
